@charset "utf-8";

/*----------------------------------------------------
 reset for pages
----------------------------------------------------*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}

body{line-height:1;}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}

ul{list-style:none;}

blockquote,q{quotes:none;}

blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}

a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}

ins{background-color:#ff9;color:#000;text-decoration:none;}

mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}

del{text-decoration:line-through;}

abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}

table{border-collapse:collapse;border-spacing:0;}

hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}

input,select{vertical-align:middle;}

img{vertical-align:bottom;}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


/*----------------------------------------------------
 elements
----------------------------------------------------*/
/** {-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box
  }*/

html { font-size: 62.5%; color:#1c1c1c; } /* 10px */
/*body { font-size: 1.8rem; } *//* 16px */
p  { font-size: 1.8rem; } /* 16px */
li { font-size: 1.8rem; } /* 16px */
li p { font-size: 1.8rem; } /* 16px */

a {color:#fc773d; text-decoration: none;}
a:hover{opacity: 0.8; transition: .3s; cursor: pointer;}

/* ゴシック */
body{
	font-family: -apple-system, 
	BlinkMacSystemFont, 
	Roboto, 
	"Helvetica Neue", 
	HelveticaNeue, 
	"游ゴシック体", 
	YuGothic, 
	"游ゴシック Medium", 
	"Yu Gothic Medium", 
	"游ゴシック", 
	"Yu Gothic", 
	"Sogoe UI", 
	Verdana, 
	"メイリオ", 
	Meiryo, 
	sans-serif;
}
/* 明朝 */
.font-min {
	font-family: Georgia, 
	"游明朝体", 
	"YuMincho", 
	"游明朝", 
	"Yu Mincho", 
	"ヒラギノ明朝 ProN W3", 
	"Hiragino Mincho ProN W3", 
	HiraMinProN-W3, 
	"ヒラギノ明朝 ProN", 
	"Hiragino Mincho ProN", 
	"ヒラギノ明朝 Pro", 
	"Hiragino Mincho Pro", 
	"HGS明朝E", 
	"ＭＳ Ｐ明朝", 
	"MS PMincho", 
	serif;
}

/* 丸ゴ */
.font-marugo {
    font-family: "Rounded Mplus 1c";
    font-weight: 500;
}

header.entry-header{display: none !important;}
footer.entry-footer{display: none !important;}

p.img{margin-bottom: 15px; text-align: center;}
p.img img{max-width: 100%; margin-bottom: 10px;}
p.img img.widthAuto{width: auto;}
p.img.w100 img{width: 100%; max-width: 100%;}

p.txt{font-size: 1.8rem; line-height: 1.8;}
@media screen and (max-width:640px) {
	p.txt{font-size: 1.6rem; line-height: 1.6;}
	p.img img{width: 100%;}
}
.bdrBox{
	border: solid 1px #ff9292;
    padding: 15px 15px 15px 15px;
    border-radius: 4px;
	margin-bottom: 2%;
}
.bdrBox p:last-child{
	margin-bottom: 0;
}

.bgBox{
	background-color: #ffe7e7;
	border: solid 1px #ff9292;
    padding: 15px 30px 15px 30px;
    border-radius: 4px;
	margin-bottom: 30px;
}
.bgBox p:last-child{
	margin-bottom: 0;
}
@media screen and (max-width:640px) {
	.bgBox{
	    padding: 15px 15px 15px 15px;
		margin-bottom: 15px;
	}
}

.corpColor{color:#f36e6e;}

/* =================================================

 BASIC STYLE

 ================================================= */

/*----------------------------------------------------
 sec
----------------------------------------------------*/
#page-content{ 
	width: 1180px;
	min-width: 1180px;
	margin:0 auto;
	padding:50px 0;
}
.section{
	margin-bottom: 50px;
}
@media screen and (max-width:640px) {
	#page-content{ 
		min-width: auto;
    	width: 94%;
	    margin: 0 auto;
	    padding:25px 0;
	}
	.section{
		margin-bottom: 50px;
	}
}

/*--------------------------------
 breadCrumbs
--------------------------------*/
.secWrapper.breadCrumbs {
    width: 100%;
    padding: 20px 0 25px;
}
@media screen and (max-width:640px) {
	.secWrapper.breadCrumbs {
	    display: none;
	}	
}
.breadCrumbs ul.pageLink{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.breadCrumbs ul.pageLink > li{
	font-size: 1.3rem;
}
.breadCrumbs ul.pageLink > li > a{
	margin-right: 10px;
	color:#737373;
	font-size: 1.3rem;
}
.breadCrumbs ul.pageLink > li:after{
    content: '\f054';
    display: inline-block;
    font-weight: 700;
    font-size: 1.2rem;
    width: 1em;
    color: #fc773d;
    font-family: 'Font Awesome 5 Free';
    text-indent: 0;
}
.breadCrumbs ul.pageLink > li:last-child:after{
	content: none;
}

/*--------------------------------
 pagesMv
--------------------------------*/
/*.pagesMv > dl{
	width: 100%;
	min-width: 1180px;
	position: relative;
}
.pagesMv > dl > dt{
	width: 100%;
	height: 100%;
}
.pagesMv > dl > dt img{
	width: 100%;
}

.pagesMv > dl > dd{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.pagesMv > dl > dd .pagesTit{
	width: 1180px;
	margin:0 auto;
	font-size: 2.4rem;
	color:#fff;
	padding-left: 25px;
	border-left: solid 4px #fff;
}
@media screen and (max-width:640px) {
	.pagesMv > dl{
		min-width: auto;
	}
	.pagesMv > dl > dd .pagesTit{
		width: 94%;
		font-size: 1.8rem;
		padding-left: 10px;
	}
}
*/
/* ==================== */
/* Title Text*/
/* ==================== */
.tit03{
	font-size: 3.2rem;
	color:#5d4b3b;
	letter-spacing: 0.3rem;
	padding-bottom: 15px;
	border-bottom: solid 3px #5d4b3b;
	margin-bottom: 30px;
}
.tit03 span.en{
	display: block;
	margin-top: 7px;
	font-size: 1.2rem;
	color: #64a231;
	letter-spacing: 0.4rem;
}

.tit04 {
	margin-bottom: 20px;
}
.tit04 span {
	color: #5d4b3b;
	font-size: 2.2rem;
}
.tit04 span:before{
	content:'■';
	color: #fc773d;
	font-size: 2.0rem;
	margin-right: 5px;
}
.tit05{
	color:#fc773d;
	font-size: 2.0rem;
	margin-bottom: 15px; 
}
.tit06{
	font-size: 1.8rem;
	font-weight: 700;
	color:#5d4b3b;
	margin-bottom: 10px;
}

@media screen and (max-width: 640px) {
	.tit03{
		font-size: 2.4rem;
	    letter-spacing: 0.2rem;
	    padding-bottom: 10px;
	    border-bottom: solid 2px #5d4b3b;
	    margin-bottom: 20px;
	}
	.tit03 span.en{
		margin-top: 5px;
	}

	.tit04 {
		margin-bottom: 15px;
	}
	.tit04 span {
		font-size: 2.0rem;
	}
	.tit04 span:before{
		font-size: 1.8rem;
	}
	.tit05{
		font-size: 1.8rem;
		margin-bottom: 10px; 
	}
	.tit06{
		font-size: 1.6rem;
		margin-bottom: 10px;
	}
}

p.txt{
	color:#5d4b3b;
	margin-bottom: 30px;
}
a.txtLink {
    color: #fc773d;
    text-decoration: none;
    word-break: break-all;
}
a.txtLink:before{
	content: '\f054';
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    width: auto;
    color: #fc773d;
    font-family: 'Font Awesome 5 Free';
    text-indent: 0;
    margin-right: 5px;
}
.innerCol a:hover{opacity: 0.8; transition: .3s; cursor: pointer;}
/* ==================== */
/* img-content */
/* ==================== */
.img-content {
	margin-bottom: 30px;
}
.img-content > .img{
	max-width: 30%;
}
.img-content > .img img{
	max-width: 100%;
	margin-bottom: 5px;
}
.img-content.imgR > .img {
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.img-content.imgL > .img {
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	text-align: center;
}
.img-content > .img span.cap{
	display: inline-block;
	margin-bottom: 15px;
	font-size: 80%;
	color: #555;
	line-height: 1.2;
}
@media screen and (max-width: 640px) {
  .img-content {
  margin-bottom: 30px;
  }
  .img-content > .img{
  max-width: 100%;
  width: 100%;
  text-align: center;
  }
  .img-content > .img img{
  max-width: 100%;
  margin:0 auto 5px;
  max-width: 100%;
  }
  .img-content.imgR > .img {
  float: none;
  margin-left: 0;
  margin-bottom: 15px;
  }
  .img-content.imgL > .img {
  float: none;
  margin-right: 0;
  margin-bottom: 15px;
  }
}

/* ==================== */
/* list-style */
/* ==================== */
/* ul-basic01 */
ul.ul-basic01{
  margin:0 0 30px 0;
}
ul.ul-basic01 > li {
  list-style:none;
  margin-bottom: 10px;
  text-indent: -1em;
  padding-left: 1em;
  line-height: 1.4;
  font-size: 1.8rem;
}
/*ul.ul-basic01 > li > * {
  padding-left: 1.5em;
}*/
ul.ul-basic01.second {
    margin: 10px 10px 10px 20px;
}
ul.ul-basic01.second > li:before{
	content: '●';
    color: #ffaa2d;
    font-size: 1.0rem;
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 5px;
}
ul.ul-basic01.dot > li:before{
	content: '●';
	color: #fc773d;
	font-size: 1.4rem;
	margin-right: 5px;
}
ul.ul-basic01 > li a{
	padding-bottom: 10px;
}
/* ol-basic01 */
ol.ol-basic01{
  margin:0 0 30px 0;
  list-style-position: inside;
}
ol.ol-basic01 > li {
  list-style-type: decimal;
  margin-bottom: 10px;
  text-indent: -1em;
  padding-left: 1em;
  line-height: 1.4;
  font-size: 1.8rem;
}

/* ol-basic02 */
ol.ol-basic02{
  margin:0 0 30px 0;
  list-style-position: inside;
}
ol.ol-basic02 > li {
  list-style-type: none;
  margin-bottom: 10px;
  text-indent: -2em;
  padding-left: 2em;
  line-height: 1.4;
  font-size: 1.8rem;
}


@media screen and (max-width: 640px) {
	/* ul-basic01 */
	ul.ul-basic01{
	  margin:0 0 20px 0;
	}
	ul.ul-basic01 > li {
	  list-style:none;
	  margin-bottom: 10px;
	  text-indent: -1em;
	  padding-left: 1em;
	  line-height: 1.4;
	  font-size: 1.6rem;
	}
	/*ul.ul-basic01 > li > * {
	  padding-left: 1.5em;
	}*/
	ul.ul-basic01.dot > li:before{
		content: '●';
		color: #fc773d;
		font-size: 1.4rem;
		margin-right: 5px;
	}

	/* ol-basic01 */
	ol.ol-basic01{
	  margin:0 0 20px 0;
	  list-style-position: inside;
	}
	ol.ol-basic01 > li {
	  list-style-type: decimal;
	  margin-bottom: 10px;
	  text-indent: -1em;
	  padding-left: 1em;
	  line-height: 1.4;
	  font-size: 1.6rem;
	}

	/* ol-basic02 */
	ol.ol-basic02{
	  margin:0 0 20px 0;
	  list-style-position: inside;
	}
	ol.ol-basic02 > li {
	  list-style-type: none;
	  margin-bottom: 10px;
	  text-indent: -2em;
	  padding-left: 2em;
	  line-height: 1.4;
	  font-size: 1.6rem;
	}
}


/* ==================== */
/* flex2col */
/* ==================== */
.flex2col{
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.flex2col > .innerCol{
	width: calc( ( 100% - 2% ) / 2 );
	margin-right: 2%;
	margin-bottom: 2%;
}
.flex2col > .innerCol:nth-child(2n){
	margin-right: 0;
}
@media screen and (max-width:640px) {
	.flex2col{
		display: block;
	}
	.flex2col > .innerCol{
		width: 100%;
		margin-right: 0;
		margin-bottom: 2%;
	}
}
/* ==================== */
/* btnLink */
/* ==================== */
.btnLink{
	padding:0 ;
}
.btnLink a{
	display: block;
    padding: 15px 25px 0px 15px;
    position: relative;
}
.btnLink a:after {
    content: '\f054';
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    width: auto;
    color: #ff9292;
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    right: 15px;
    top: calc(50% - 0.7rem );
}

/* ==================== */
/* flex2col btnLink */
/* ==================== */
.flex2col .btnLink{
	padding:0 ;
}
/*.flex2col .btnLink a{
	display: block;
    background: url(../images/pages/ico_btnLink.png) no-repeat;
    background-position: right 20px top 50%;
    padding: 15px 25px 0px 15px;
}*/

/* ==================== */
/* flex3col */
/* ==================== */
.flex3col{
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.flex3col > .innerCol{
	width: calc( ( 100% - 4% ) / 3 );
	margin-right: 2%;
	margin-bottom: 2%;
}
.flex3col > .innerCol:nth-child(3n){
	margin-right: 0;
}
@media screen and (max-width:640px) {
	.flex3col{
		display: block;
	}
	.flex3col > .innerCol{
		width: 100%;
		margin-right: 0;
		margin-bottom: 2%;
	}
}

/* ==================== */
/* flex3col btnLink */
/* ==================== */
.flex3col .btnLink{
	padding:0 ;
}
.flex3col .btnLink a{
	display: block;
    padding: 15px 30px 15px 15px;
    position: relative;
}
.flex3col .btnLink a:after {
    content: '\f054';
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    width: auto;
    color: #ff9292;
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    right: 15px;
    top: calc(50% - 0.7rem );
}
.flex3col .btnLink p.txt {
	margin-bottom: 0;
}

/* ==================== */
/* tbl-basic */
/* ==================== */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.tbl-basic{
  width:100%;
  margin: 0 0 30px 0;
  line-height: 1.4;
  font-size: 1.8rem;
}
.tbl-basic thead th {
    padding: 15px 15px;
    border: 1px solid #ccc;
    background: #ff9292;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-weight: 100;
}
.tbl-basic thead td {
    padding: 10px 15px;
    border: 1px solid #ccc;
    background: #fff;
    color: #004576;
    text-align: center;
    vertical-align: middle;
}
.tbl-basic tbody th {
    padding: 10px 15px;
    border: 1px solid #ccc;
    background: #ffe7e7;
    text-align: center;
    vertical-align: middle;
    font-weight: 100;
    white-space: nowrap;
}
.tbl-basic tbody td {
    padding: 10px 15px;
    border: 1px solid #ccc;
    background: #fff;
    vertical-align: top;
}
.tbl-basic tbody tr:nth-child(odd) td{
	background-color: #ffe8cb;
}
.tbl-basic tbody tr:nth-child(even) td{
	background-color: #fff4e7;
}
.tbl-basic caption{
    color: #004576;
    margin-bottom: 10px;
    margin-top: 20px;
}
.tbl-basic.color-inherit{
  background-color: inherit;
}
.tbl-basic.color-inherit tbody td.color01,
.tbl-basic.color-inherit tbody th.color01{
  background-color: #FF99FF;
}
.tbl-basic.color-inherit tbody td.color02,
.tbl-basic.color-inherit tbody th.color02{
  background-color: #66CCFF;
}
.tbl-basic.color-inherit tbody td.color03,
.tbl-basic.color-inherit tbody th.color03{
  background-color: #CC33CC;
}
.tbl-basic.color-inherit tbody td.color04,
.tbl-basic.color-inherit tbody th.color04{
  background-color: #FFFF33;
}
.tbl-basic.color-inherit tbody td.color05,
.tbl-basic.color-inherit tbody th.color05{
  background-color: #B0FF3C;
}
.tbl-basic tbody td img,
.tbl-basic tbody th img{
	max-width: 100%;
}
@media screen and (max-width: 640px) {
  .table-wrap {
    overflow: auto;
    white-space: nowrap;
    display:block;
    width:auto;
    max-width: 1000px;
  }
  .table-wrap table {
    width: 100%;
    display:table;
  }
  .table-wrap:-webkit-scrollbar {
    height: 5px;
  }
  .table-wrap:-webkit-scrollbar-track {
    background: #F1F1F1;
  }
  .table-wrap:-webkit-scrollbar-thumb {
    background: #BCBCBC;
  }
  .tbl-basic{
	  width:100%;
	  margin: 0 0 30px 0;
	  line-height: 1.4;
	  font-size: 1.6rem;
	}

	.tbl-basic thead th {
	    padding: 10px 10px;
	}
	.tbl-basic thead td {
	    padding: 7px 10px;
	}
	.tbl-basic tbody th {
	    padding: 7px 10px;
	}
	.tbl-basic tbody td {
	    padding: 7px 10px;
	}

}

/* ==================== */
/* btn */
/* ==================== */
.btn-basic{
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	margin:30px auto;
}
.btn-basic .btn{
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}
.btn-basic .btn a{
	padding:15px 40px 15px 15px;
	width: 100%;
	background-color: #fff;
	margin:0 auto;
	color:#fff;
	background-color: #ff9292;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /*border:solid 2px #f8a056;
    border-radius: 100px;*/
    text-decoration: none;
    position: relative;
    box-shadow: 3px 3px #dadada;
    border-radius: 4px;
}
.btn-basic .btn a:hover{
	box-shadow: 1px 1px #dadada;
}

.btn-basic .btn a:after {
    content: '\f054';
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    width: auto;
    color: #fff;
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    right:20px;
    top:calc(50% - 0.7rem );
}

.btn-basic .btn a:hover{
	text-decoration: none;
}
/* btn-1col */
.btn-basic.btn-1col{justify-content: center;}
.btn-basic.btn-1col .btn a{padding:15px 55px 15px 30px;}
/* btn-2col */
.btn-2col .btn{ width: calc((100% - 30px) / 2);}
.btn-2col .btn{margin-right: 30px;}
.btn-2col .btn:nth-child(2n){margin-right: 0;}
/* btn-3col */
.btn-3col .btn{	width: calc((100% - 60px) / 3);}
.btn-3col .btn{margin-right: 30px;}
.btn-3col .btn:nth-child(3n){margin-right: 0;}
/* btn-4col */
.btn-4col .btn{ width: calc((100% - 90px) / 4);}
.btn-4col .btn{margin-right: 30px;}
.btn-4col .btn:nth-child(4n){margin-right: 0;}

@media screen and (max-width: 640px) {
	.btn-basic{
		display: block;
		margin:30px auto;
	}
	.btn-basic .btn{
		display: block;
		margin-bottom: 30px;
		font-size: 1.6rem;
	}
	.btn-basic .btn:last-child{
		margin-bottom: 0;
	}
	.btn-basic .btn a{
		padding:10px 40px 10px 10px;
		text-align: center;
		display: block;
	}
	/* ボタン：1列 */
	.btn-basic.btn-1col{text-align: center;}
	.btn-basic.btn-1col .btn a{padding:10px 50px 10px 25px;}
	/* ボタン：2列 */
	.btn-2col .btn{ width: 100%;}
	.btn-2col .btn{ margin-right: 0;}
	/* ボタン：3列 */
	.btn-3col .btn{	width: 100%;}
	.btn-3col .btn{ margin-right: 0;}
	/* ボタン：4列 */
	.btn-4col .btn{ width: 100%;}
	.btn-4col .btn{ margin-right: 0;}
}

/* ==================== */
/* illustCol */
/* ==================== */
dl.illustCol{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 30px;
}
/* imgが存在しない場合 */
dl.illustCol > dt{
	display: none;
}
dl.illustCol > dt + dd{
	width: 100%;
}
/* imgが存在する場合 */
/* class="hasImg" はstyle.jsにて付与 */
dl.illustCol > dt.hasImg{
	display: block;
	width: 15%;
	margin-right: 3%;
	text-align: center;
}
dl.illustCol > dt.hasImg img{
	max-width: 100%;
	margin-bottom: 15px;
}
dl.illustCol > dt.hasImg + dd{
	width: 82%;
}

dl.illustCol.rev > dt{
	order: 1;
}
dl.illustCol.rev > dt.hasImg{
	margin-right: 0;
	margin-left: 3%;
}
dl.illustCol.rev > dd{
	order: 0;
}

.innerCol > dl.illustCol:last-child,
.bdrBox > dl.illustCol:last-child,
.bdrBox > a > dl.illustCol:last-child{
	margin-bottom: 0;
}

@media screen and (max-width: 640px) {
	dl.illustCol{
		display: block;
		margin-bottom: 30px;
	}
	dl.illustCol > dt.hasImg{
		width: 100%;
		margin-right: 0;
		text-align: center;
		margin-bottom: 10px;
	}
	dl.illustCol.rev > dt.hasImg{
		margin-right: 0;
		margin-left: 0;
	}
	dl.illustCol > dt.hasImg img{
		max-width: 100%;
		margin-bottom: 15px;
	}
	dl.illustCol.min > dt.hasImg img{
		max-width: 30vw;
		margin-bottom: 0;
	}

	dl.illustCol > dt.hasImg + dd{
		width: 100%;
	}
	dl.illustCol > dt + dd p.txt:last-child{
		margin-bottom: 0;
	}

	.btnLink dl.illustCol{
		display: flex;
		margin-bottom: 0;
	}
	.btnLink dl.illustCol > dt.hasImg{
		width: 15%;
	}
	.btnLink dl.illustCol.min > dt.hasImg img{
		max-width: 100%;
		margin-bottom: 0;
	}
	/*dl.illustCol > dt.hasImg + dd{
		width: 80%;
		margin-left: 5%;
	}*/
}

/* ==================== */
/* archive-news */
/* ==================== */
.archNewsList > dl > a{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding:15px 0;
	font-size: 1.5rem;
	color:#000;
	text-decoration: none;
	border-bottom: solid 1px #dbcfc6;
}
.archNewsList > dl > a > dt{
	width: 190px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.archNewsList > dl > a > dt p{
	padding-left: 40px;
}
.archNewsList > dl > a > dt p.new{
	background:url(../images/top/ico_new.png) left center no-repeat;
}
.archNewsList > dl > a > dd{
	width: calc( 100% - 190px );
	line-height: 1.2;
}
@media screen and (max-width: 640px) {
	.archNewsList > dl > a{
		display: block;
		padding:15px 0;
		font-size: 1.3rem;
	}
	.archNewsList > dl > a > dt{
		width: 100%;
		margin-bottom: 5px;
	}
	.archNewsList > dl > a > dd{
		width: 100%;
	}
	.archNewsList > dl > a > dt p{
		font-size: 1.3rem;
		padding-left: 0;
	}
	.archNewsList > dl > a > dt p.new{
		padding-left: 40px;
		background:url(../images/top/ico_new.png) left center no-repeat;
	}
}
/* ==================== */
/* Gmap */
/* ==================== */
.gmap{
	width: 100%;
	max-width: 100%;
	margin-bottom: 60px;
}
.gmap iframe{
	max-width: 100%;
}
@media screen and (max-width: 640px) {
	.gmap{
		margin-bottom: 30px;
	}	
}
/* ==================== */
/* PAGENATION */
/* ==================== */
nav.pagination{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
nav.pagination h2.screen-reader-text{
  display: none !important;
}
nav.pagination .nav-links span,
nav.pagination .nav-links a{
  padding:10px 15px;
  background-color: #f8994a;
  color: #fff;
}

/* ==================== */
/* FAQ */
/* ==================== */
dl.faq{
	padding: 15px 0 15px ;
	border-bottom: solid 1px #ccc;
	font-size: 1.5rem;
    line-height: 1.6;
}
dl.faq > dt {
    background: url(../images/pages/ico_que.png) left center no-repeat;
    background-size: 35px;
    padding: 10px 0 10px 50px;
    font-weight: 700;
    color:#5d4b3b;
}
dl.faq > dt:hover{
	cursor:pointer;
}
dl.faq > dd {
	display: none;
    background: url(../images/pages/ico_ans.png) left 0 top 15px no-repeat;
    background-size: 35px;
    padding: 10px 0 10px 50px;
    margin-top: 10px;
}

/*====================================================
 FADEIN ANIMATION
====================================================*/
.effect-fade{
  opacity:0;
  transition:all 800ms;  
}
.effect-fade.position-bottom{
  transform:translate(0,150px);
}
.effect-fade.position-left{
  transform:translate(-150px,0);
}
.effect-fade.position-right{
  transform:translate(150px,0);
}
.effect-fade.effect-scroll{
  opacity:1;
  transform:translate(0,0);  
}

/* =================================================

 ORIGINAL STYLE

 ================================================= */
.chkSec h4{
	color:#402101;
	font-size: 2.2rem;
	padding:15px 30px;
	background-color: #e0d3c0;
	border-radius: 50px;
	display: inline-block;
}
.chkBox{
	background:url(../images/pages/bg_chk.png) right 15px bottom 15px no-repeat;
	background-color: #f1f1f1;
	padding:40px 20px 20px ;
	margin-top: -25px;
}
ul.ul-basic01.chk > li:before{
	content: '□';
    font-size: 1.6rem;
    margin-right: 5px;
}

@media screen and (max-width: 640px) {
	.chkSec h4{
		font-size: 1.8rem;
		padding:10px 20px;
	}
	.chkBox{
		background:url(../images/pages/bg_chk.png) right 10px bottom 10px no-repeat;
		background-size: 20%;
		background-color: #f1f1f1;
		padding: 30px 15px 15px;
    	margin-top: -25px;
	}
	ul.ul-basic01.chk > li:before{
		content: '□';
	    font-size: 1.4rem;
	    margin-right: 5px;
	}
}

/* =================================================

 ADJUST STYLE

 ================================================= */

/* text-align */
.alnR {text-align: right !important;}
.alnL { text-align: left !important; }
.alnC { text-align: center !important; }
.valT { vertical-align: top !important; }
.valB { vertical-align: baseline !important; }
.valM { vertical-align: middle !important; }

/* adjust margin-top */
.mt00 {margin-top: 0 !important;}
.mt05 {margin-top: 5px !important;}
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt35 {margin-top: 35px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}
.mt50 {margin-top: 50px !important;}
.mt55 {margin-top: 55px !important;}
.mt60 {margin-top: 60px !important;}
.mt65 {margin-top: 65px !important;}
.mt70 {margin-top: 70px !important;}
.mt75 {margin-top: 75px !important;}
.mt80 {margin-top: 80px !important;}
.mt85 {margin-top: 85px !important;}
.mt90 {margin-top: 90px !important;}
.mt95 {margin-top: 95px !important;}
.mt100 {margin-top: 100px !important;}

/* adjust margin-bottom */
.mb00 {margin-bottom: 0 !important;}
.mb05 {margin-bottom: 5px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb25 {margin-bottom: 25px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb35 {margin-bottom: 35px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb45 {margin-bottom: 45px !important;}
.mb50 {margin-bottom: 50px !important;}
.mb55 {margin-bottom: 55px !important;}
.mb60 {margin-bottom: 60px !important;}
.mb65 {margin-bottom: 65px !important;}
.mb70 {margin-bottom: 70px !important;}
.mb75 {margin-bottom: 75px !important;}
.mb80 {margin-bottom: 80px !important;}
.mb85 {margin-bottom: 85px !important;}
.mb90 {margin-bottom: 90px !important;}
.mb95 {margin-bottom: 95px !important;}
.mb100 {margin-bottom: 100px !important;}

/* adjust width */
.w05{width: 5% !important;}
.w10{width: 10% !important;}
.w15{width: 15% !important;}
.w20{width: 20% !important;}
.w25{width: 25% !important;}
.w30{width: 30% !important;}
.w40{width: 40% !important;}
.w45{width: 45% !important;}
.w50{width: 50% !important;}
.w55{width: 55% !important;}
.w60{width: 60% !important;}
.w65{width: 65% !important;}
.w70{width: 70% !important;}
.w75{width: 75% !important;}
.w80{width: 80% !important;}
.w85{width: 85% !important;}
.w90{width: 90% !important;}
.w95{width: 95% !important;}
.w100{width: 100% !important;}

.pcW05{width: 5%; margin:0 auto;}
.pcW10{width: 10%; margin:0 auto;}
.pcW15{width: 15%; margin:0 auto;}
.pcW20{width: 20%; margin:0 auto;}
.pcW25{width: 25%; margin:0 auto;}
.pcW30{width: 30%; margin:0 auto;}
.pcW40{width: 40%; margin:0 auto;}
.pcW45{width: 45%; margin:0 auto;}
.pcW50{width: 50%; margin:0 auto;}
.pcW55{width: 55%; margin:0 auto;}
.pcW60{width: 60%; margin:0 auto;}
.pcW65{width: 65%; margin:0 auto;}
.pcW70{width: 70%; margin:0 auto;}
.pcW75{width: 75%; margin:0 auto;}
.pcW80{width: 80%; margin:0 auto;}
.pcW85{width: 85%; margin:0 auto;}
.pcW90{width: 90%; margin:0 auto;}
.pcW95{width: 95%; margin:0 auto;}
.pcW100{width: 100%; margin:0 auto;}

@media screen and (max-width:640px) {
  .pcW05{width: 100% ;}
  .pcW10{width: 100% ;}
  .pcW15{width: 100% ;}
  .pcW20{width: 100% ;}
  .pcW25{width: 100% ;}
  .pcW30{width: 100% ;}
  .pcW40{width: 100% ;}
  .pcW45{width: 100% ;}
  .pcW50{width: 100% ;}
  .pcW55{width: 100% ;}
  .pcW60{width: 100% ;}
  .pcW65{width: 100% ;}
  .pcW70{width: 100% ;}
  .pcW75{width: 100% ;}
  .pcW80{width: 100% ;}
  .pcW85{width: 100% ;}
  .pcW90{width: 100% ;}
  .pcW95{width: 100% ;}
  .pcW100{width: 100% ;}  

  .spW05{width: 5% !important;}
  .spW10{width: 10% !important;}
  .spW15{width: 15% !important;}
  .spW20{width: 20% !important;}
  .spW25{width: 25% !important;}
  .spW30{width: 30% !important;}
  .spW35{width: 35% !important;}
  .spW40{width: 40% !important;}
  .spW45{width: 45% !important;}
  .spW50{width: 50% !important;}
  .spW55{width: 55% !important;}
  .spW60{width: 60% !important;}
  .spW65{width: 65% !important;}
  .spW70{width: 70% !important;}
  .spW75{width: 75% !important;}
  .spW80{width: 80% !important;}
  .spW85{width: 85% !important;}
  .spW90{width: 90% !important;}
  .spW95{width: 95% !important;}
  .spW100{width: 100% !important;} 
}



/*----------------------------------------------------
 display
----------------------------------------------------*/
.dispN  { display: none !important; }
.dispB  { display: block !important; }
.dispI  { display: inline !important; }
.dispIB { display: inline-block !important; }
.dispT  { display: table !important; }
.dispTC { display: table-cell !important; }

@media screen and (max-width:640px) { 

	/*----------------------------------------------------
	 display
	----------------------------------------------------*/
	.spdispN  { display: none !important; }
	.spdispB  { display: block !important; }
	.spdispI  { display: inline !important; }
	.spdispIB { display: inline-block !important; }
	.spdispT  { display: table !important; }
	.spdispTC { display: table-cell !important; }

}

/*----------------------------------------------------
 clearfix
----------------------------------------------------*/
.clearfix:after,
.img-content:after  {
  content:".";
  display:block;
  height:0.1px;
  visibility:hidden;
  clear:both;
  font-size:0.1em;
  line-height:0;
  }
.clearfix, .img-content { min-height:1px; }
* html .clearfix, * html .img-content { height:1px; };
